@media (max-width: 1024px) {
    .inner {
        padding: 0 40px;
    }

    header {
        padding: 0 10px;
    }

    .main-visual {
        padding: 0 10px;
    }

   .content {
        flex-direction: column;
    }

   .content .img {
        width: 100%;
        margin-bottom: 25px;
    }
}
