@media (max-width: 1024px) {
    .content {
        padding: 10px 44px;
    }

    .content h2 {
        padding-bottom: 10px;
    }

    .content li {
        line-height: normal;
        padding-bottom: 20px;
    }

    .detail .content {
        flex-direction: column;
    }

    .left img {
        width: 100%;
    }

    .detail .content .left {
        width: 100%;
    }
    
    .detail .content .right {
        width: 100%;
    }

    .right {
        padding: 0;
    }
}
