* {
    box-sizing: border-box;
}

body {
    background-color: #F4F9FF;
    font-family: "Hiragino Kaku Gothic ProN";
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.logo img {
    width: 160px;
    padding: 50px 0 7px;
}

.main-visual img {
    max-width: 100%;
}

h2 {
    font-size: 18px;
    padding-top: 30px;
}

.index {
    background-color: white;
    margin-top: 60px;
    margin-bottom: 12px;
}

.content {
    max-width: 600px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.content ol {
    padding-left: 20px;
    margin-top: -10px;
}

.content li {
    font-size: 14px;
    line-height: 40px;
}

.detail .content {
    display: flex;
    flex-wrap: wrap;
}

.left img {
    width: 270px;
    margin-top: -5px;
}

.right {
    font-size: 14px;
    padding-top: 37px;
    padding-left: 30px;
}

.detail .content .left {
    width: 50%;
}

.detail .content .right {
    width: 50%;
}

dl {
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding: 15px 0;
}

dl div {
    display: flex;
}

dt {
    width: 20%;
}

dd {
    width: 80%;
    margin-left: 15px;
}

.right p {
    padding-top: 15px;
}

.right a {
    color: black;
    display: inline-block;
    padding-top: 10px;
}

footer {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px;
}

footer p {
    font-size: 10px;
}
